<!-- vim: set ft=htmldjango: -->

{% include "head.html" %}

<h2>Greens rolling overview:</h2>

<section class="content-block content-block-full">

    <a href="{% url 'roll:greens_new' %}">
        <button>Add New</button>
    </a>
    
    <h3>Recent Greens Rolling</h3>
    
    <table>
        <thead>
            <th>Date</th>
            <th>Roller(s)</th>
            <th>Greens</th>
        </thead>
        
        {% for r in rollings %}
        <tr>
            <td>{{ r.roll_date }}</td>
            <td>{% for roll in r.roller.all %}
                    {{ roll }}<br />
                {% endfor %}
            </td>
            <td>{% for g in r.green.all %}
                    {{ g }}<br />
                {% endfor %}
            </td>
            <td class="center-align">
                <a href="{% url 'roll:greens_detail' pk=r.pk %}">
                    <button>Detail</button>
                </a>
            </td>
        </tr>
        {% endfor %}
        
    </table>

</section>

{% include "foot.html" %}
