<!-- vim: set ft=htmldjango: -->

{% include "machines/shophead.html" %}

{% if no_user %}
    <p class="center-align warning">
        <strong>NOTICE:</strong>
        You are not logged in. If you wish to edit a part in the database, you will
        need to <a href="{% url 'welcome:login' %}">log in</a></a> first.
    </p>
{% endif %}

<h2>Edit part:</h2>

<section class="content-block content-block-full">

    <h3>Edit {{ part }}</h3>
    
    <form id="partForm"
          method="POST"
          action="{% url 'parts:part_update' pk=part.pk %}">
        
        {% csrf_token %}
        
        <table>
            {{ form.as_table }}
        </table>
        
        <input type="submit" value="Save" />
        
    </form>

</section>

{% include "foot.html" %}
