<!-- vim: set ft=htmldjango: -->

{% include "head.html" %}

<h2>Fairway building overview:</h2>

<section class="content-block content-block-full">

    <a href="{% url 'build:fairway_new' %}">
        <button>Add New</button>
    </a>
    
    <h3>Recent Fairway Builds</h3>
    
    <table>
        <thead>
            <th>Date</th>
            <th>Fairway</th>
        </thead>
        
        {% for b in builds %}
        <tr>
            <td>{{ b.build_date }}</td>
            <td>{{ b.fairway }}</td>
            <td><a href="{% url 'build:fairway_detail' pk=b.pk %}">
                    <button>Details</button>
                </a>
            </td>
        </tr>
        
    </table>

</section>

{% include "foot.html" %}
