<!-- vim: set ft=htmldjango: -->

{% include "head.html" %}

<h2>Greens aerating overview:</h2>

<section class="content-block content-block-full">

    <a href="{% url 'aerate:greens_new' %}">
        <button>Add New</button>
    </a>
    
    <h3>Recent Greens Aerating</h3>
    
    <table>
        <thead>
            <th>Date</th>
            <th>Greens</th>
            <th>Aerator</th>
        </thead>
        
        {% for a in aeratings %}
        <tr>
            <td>{{ a.aerate_date }}</td>
            <td>{% for g in a.green.all %}
                    {{ g }}<br />
                {% endfor %}
            </td>
            <td>{{ a.aerator }}</td>
        </tr>
        {% endfor %}
        
    </table>

</section>

{% include "foot.html" %}
