<!-- vim: set ft=htmldjango: -->

{% include "head.html" %}

<h2>Fairways fertilizations:</h2>

<section class="content-block content-block-full">

    <a href="{% url 'fert:fairways_new' %}">
        <button>Add New</button>
    </a>
    
    <br />

    <h3>Most recent fairways fertilizations</h3>
    
    <table>
        <thead>
            <th>Date</th>
            <th>Fertilizer</th>
            <th>Rate</th>
            <th>Fairways</th>
            <th>Bags Used</th>
            <th>Cost</th>
        </thead>
        
        {% for f in fairways_fert %}
        <tr>
            <td>
                <a href="{% url 'fert:fairways_detail' pk=f.pk %}">
                {{ f.fert_date }}</a>
            </td>
            <td>
                <a href="{% url 'fert:fert_detail' pk=f.fertilizer.pk %}">
                {{ f.fertilizer }}</a>
            </td>
            <td>{{ f.rate }}</td>
            <td>
                {% for g in f.fairway.all %}
                    &bull; 
                    <a href="{% url 'courses:fairway_detail' pk=g.pk %}">{{ g }}</a><br />
                {% endfor %}
            </td>
            <td>{{ f.bags_used }}</td>
            <td>{{ f.cost }}</td>
        </tr>
        {% endfor %}
    </table>

</section>

{% include "foot.html" %}

