<!-- vim: set ft=htmldjango: -->

{% include "head.html" %}

<h2>Fertilizers:</h2>
    
<section class="content-block content-block-full">

    <a href="{% url 'fert:new_fert' %}">
        <button>Add New</button>
    </a>

    <h3>List of Fertilizers</h3>
    
    <table>
        <thead>
            <th>Brand</th>
            <th>Formulation</th>
            <th>Bag Size</th>
            <th>Price</th>
            <th>Price/unit</th>
        </thead>
        
        {% for f in fertilizers %}
        <tr>
            <td>{{ f.manufacturer }}</td>
            <td>
                {{ f.n_value }} &ndash;
                {{ f.p_value }} &ndash;
                {{ f.k_value }}
            </td>
            <td>{{ f.bag_size }}</td>
            <td>{{ f.price_per_bag }}</td>
            <td>{{ f.unit_price }}</td>
            <td class="center-align">
                <a href="{% url 'fert:fert_detail' pk=f.pk %}">
                    <button>Detail</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    
    <br />
    
</section>
    
{% include "foot.html" %}
