<!-- vim: set ft=htmldjango: -->

{% include "machines/shophead.html" %}

<h2>{{ mower }}:
	&nbsp;
	<a href="{% url 'maint:repair_needed' machine=mower.pk %}">
		<button>Report Breakdown</button>
	</a>
</h2>


<section class="content-block">

    <h3>Basic Info</h3>
    
		<div class="scroll-container">
    <table>
        <tr>
            <th>Make</th>
            <td>{{ mower.make }}</td>
        </tr>
        
        <tr>
            <th>Model</th>
            <td>{{ mower.model }}</td>
        </tr>
        
        <tr>
            <th>ID</th>
            <td>{{ mower.ident_number }}</td>
        </tr>
        
        <tr>
            <th>Year</th>
            <td>{{ mower.year }}</td>
        </tr>
        
        <tr>
            <th>Date Purchased</th>
            <td>{{ mower.date_purchased }}</td>
        </tr>
        
        <tr>
            <th>Hours</th>
            <td>{{ mower.hours }}</td>
        </tr>
        
        <tr>
            <th>In Commission</th>
            <td>
                {% if mower.in_commission %}
                    Yes
                {% else %}
                    <strong>No</strong>
                {% endif %}
            </td>
        </tr>
        
        <tr>
            <th>Cut Height</th>
            <td>{{ mower.cut_height }}
							{{ mower.height_units }}</td>
        </tr>

				<tr>
						<th>Added to Database</th>
						<td>{{ mower.created_at }}</td>
				</tr>

				<tr>
						<th>Last Updated</th>
						<td>{{ mower.updated_at }}</td>
				</tr>
    </table>
    
    <br />
    
    <a href="{% url 'shop:greensmow_edit' pk=mower.pk %}">
        <button>Edit</button>
    </a>
	</div>

</section>

<section class="content-block">
        
    <h3>Fluids &amp; Filters</h3>
    
    <table>
        
        <tr>
            <th>Fuel Type</th>
            <td>{% for f in mower.fuel_type.all %}
                    {{ f }}<br />
                {% endfor %}
            </td>
        </tr>
        
        <tr>
            <th>Motor Oil</th>
            <td>{% for o in mower.oil_type.all %}
                    {{ o }}<br />
                {% endfor %}
            </td>
        </tr>
        
        <tr>
            <th>Motor Oil Capacity</th>
						<td>{{ mower.oil_capacity }} {{ mower.oil_units }}</td>
        </tr>
        
        <tr>
            <th>Oil Filter</th>
            <td>{% for f in mower.oil_filter.all %}
                    {{ f }}<br />
                {% endfor %}
            </td>
        </tr>
        
        {% if mower.hyd_oil_type %}
        <tr>
            <th>Hydraulic Oil</th>
            <td>{% for o in mower.hyd_oil_type.all %}
                    {{ o }}<br />
                {% endfor %}
            </td>
        </tr>
        
        <tr>
            <th>Hydraulic Oil Capacity</th>
						<td>{{ mower.hyd_oil_capacity }} 
							{{ mower.hyd_oil_units }}</td>
        </tr>
        {% endif %}
        
        <tr>
            <th>Fuel Filter</th>
            <td>{% for f in mower.fuel_filter.all %}
                    {{ f }}<br />
                {% endfor %}
            </td>
        </tr>

				<tr>
						<th>Air Filter</th>
						<td>{% for f in mower.air_filter.all %}
										{{ f }}<br />
								{% endfor %}
						</td>
				</tr>
        
    </table>
    
    <br />
    
    <a href="{% url 'shop:greensmow_edit' pk=mower.pk %}">
        <button>Edit</button>
    </a>
    
</section>

<section class="content-block">

    <h3>Oil Changes</h3>
    
    <table>
        <thead>
            <th>Date</th>
            <th>Hours</th>
            <th>Oil</th>
            <th>Qty.</th>
            <th>Cost</th>
        </thead>
        
        {% for o in oil_changes %}
        <tr>
            <td>{{ o.date_fixed }}</td>
            <td>{{ o.hours_on_machine }}</td>
            <td>{{ o.oil }}</td>
            <td>{{ o.oil_qty }}</td>
            <td>{{ o.oil_cost }}</td>
        </tr>
        {% endfor %}
    </table>
    
</section>

<section class="content-block">

    <h3>Repairs</h3>
    
    <table>
        <thead>
            <th>Date Out</th>
            <th>Date Fixed</th>
            <th>Hours</th>
            <th>Description</th>
            <th>Cost</th>
        </thead>
        
    </table>
</section>

<section class="content-block">

		<h3>Hour Benchmarks</h3>

		<table>
				<thead>
						<th>Date</th>
						<th>Hours</th>
						<th>Notes</th>
				</thead>

				{% for h in hour_reads %}
				<tr>
						<td>{{ h.date }}</td>
						<td>{{ h.hours }}</td>
						<td>{{ h.notes }}</td>
				</tr>
				{% endfor %}
		</table>

</section>

<section class="content-block">

	<h3>Bedknife To Reel Adjustments</h3>

	<table>
		<thead>
			<th>Date</th>
			<th>Mechanic</th>
		</thead>

		{% for b in btr %}
			<tr>
				<td>{{ b.date }}</td>
				<td>{{ b.mechanic.first_name }}
					{{ b.mechanic.last_name }}</td>
			</tr>
		{% endfor %}
	</table>

</section>
{% include "foot.html" %}
