<!-- vim: set ft=htmldjango: -->

{% include "machines/shophead.html" %}

<h2>Add new greensmower:</h2>

<section class="content-block content-block-full">

    <h3>New Greens Mower</h3>
    
    <form id="mowerForm"
          method="POST"
          action="{% url 'shop:greensmow_create' %}">
        
        {% csrf_token %}
        
        <table>
            {{ form.as_table }}
        </table>
        
        <input type="submit" value="Save" />
    
    </form>

</section>

{% include "foot.html" %}
