<!-- vim: set ft=htmldjango: -->

<!DOCTYPE html>
<html>

{% load static %}

<head>
    <meta charset="UTF-8" />

    <meta name="viewport"
          content="width=device-width,initial-scale=1.0" />

    <meta name="http-equiv"
          content="text/html" />

    <title>ShopManager | Machines</title>

    <link rel="stylesheet"
          type="text/css"
          href="{% static 'styles/main.css' %}" />

    <link rel="stylesheet"
          type="text/css"
          href="{% static 'styles/tablet.css' %}" />

    <link rel="stylesheet"
          type="text/css"
          href="{% static 'parts/styles/parts.css' %}" />

    <link rel="stylesheet"
          type="text/css"
          href="{% static 'machines/styles/shop.css' %}" />

    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans|Overlock"
          rel="stylesheet" />

    <link rel="icon"
          type="image/png"
          href="{% static 'favicon.png' %}" />
</head>

<body>

<header>
    <a href="{% url 'shop:index' %}">
        <h1>ShopManager</h1>
    </a>

    <nav>
        <ul>
            <div class="parent-menu">
                <li>
                    <a href="{% url 'welcome:index' %}">
                        GreensManager
                    </a>
                </li>
            </div>

            <div class="parent-menu">
                <li>Find Parts
                    <ul class="child-menu">
                        <li>
                            <input type="text"
                                   id="searchByNum"
                                   placeholder="Part #" />
                            <input type="submit"
                                   value="Find by Part No" />
                        </li>

                        <li>
                            <input type="text"
                                   id="searchByMake"
                                   placeholder="Make" />
                            <input type="submit"
                                   value="Find by Make" />
                        </li>

                        <li>
                            <input type="text"
                                   id="searchByDesc"
                                   placeholder="Description" />
                            <input type="submit"
                                   value="Find by Description" />
                        </li>

                        <li>
                            <input type="text"
                                   id="searchByLoc"
                                   placeholder="Location" />
                            <input type="submit"
                                   value="Find by Location" />
                        </li>
                    </ul>
                </li>
            </div>

            <div class="parent-menu">
                <li>Add Part</li>
            </div>

            <div class="parent-menu">
                <li>Machines
                    <ul class="child-menu">
                        <li>
                            <a href="{% url 'shop:greensmow_index' %}">
                                Greens Mowers
                            </a>
                        </li>
                        
                        <li>
                            <a href="{% url 'shop:teemow_index' %}">
                                Tee Mowers
                            </a>
                        </li>
                        
                        <li>
                            <a href="{% url 'shop:fairwaymow_index' %}">
                                Fairway Mowers
                            </a>
                        </li>
                        
                        <li>
                            <a href="{% url 'shop:roughmow_index' %}">
                                Rough Mowers
                            </a>
                        </li>
                        
                        <li>
                            <a href="{% url 'shop:roller_index' %}"> 
                                Rollers
                            </a>
                        </li>
                        
                        <li>
                            <a href="{% url 'shop:rake_index' %}">
                                Trap Rakes
                            </a>
                        </li>
                        
                        <li>    
                            <a href="{% url 'shop:util_index' %}">
                                Util Vehicles
                            </a>
                        </li>
                        
                        <li>
                            <a href="{% url 'shop:cart_index' %}">
                                Carts
                            </a>
                        </li>
                        
                        <li>
                            <a href="{% url 'shop:sprayer_index' %}">
                                Sprayers
                            </a>
                        </li>
                        
                        <li>
                            <a href="{% url 'shop:aerator_index' %}"> 
                                Aerators
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </ul>
    </nav>

    <p class="right-aligned" id="session-info">
        Welcome {{ user.get_username }}!<br />
        It is {{ curr_time }}
    </p>
</header>
