<!-- vim: set ft=htmldjango: -->

{% include "machines/shophead.html" %}

<h2>{{ sprayer }}:
	&nbsp;
	<a href="{% url 'maint:repair_needed' machine=sprayer.pk %}">
		<button>Report Breakdown</button>
	</a>
</h2>

<section class="content-block">

    <h3>Basic Info</h3>
    
    <table>
        <tr>
            <th>Make</th>
            <td>{{ sprayer.make }}</td>
        </tr>
        
        <tr>
            <th>Model</th>
            <td>{{ sprayer.model }}</td>
        </tr>
        
        <tr>
            <th>ID</th>
            <td>{{ sprayer.ident_number }}</td>
        </tr>
        
        <tr>
            <th>Year</th>
            <td>{{ sprayer.year }}</td>
        </tr>
        
        <tr>
            <th>Date Purchased</th>
            <td>{{ sprayer.date_purchased }}</td>
        </tr>
        
        <tr>
            <th>Hours</th>
            <td>{{ sprayer.hours }}</td>
        </tr>
        
        <tr>
            <th>In Commission</th>
            <td>
                {% if sprayer.in_commission %}
                    Yes
                {% else %}
                    <strong>No</strong>
                {% endif %}
            </td>
        </tr>
        
        <tr>
            <th>Tank Size</th>
            <td>{{ sprayer.tank_capacity }}</td>
        </tr>
    </table>
    
    <br />
    
    <a href="{% url 'shop:sprayer_edit' pk=sprayer.pk %}">
        <button>Edit</button>
    </a>

</section>

<section class="content-block">
        
    <h3>Fluids &amp; Filters</h3>
    
    <table>
        
        <tr>
            <th>Fuel Type</th>
            <td>{% for f in sprayer.fuel_type.all %}
                    {{ f }}<br />
                {% endfor %}
            </td>
        </tr>
        
        <tr>
            <th>Motor Oil</th>
            <td>{% for o in sprayer.oil_type.all %}
                    {{ o }}<br />
                {% endfor %}
            </td>
        </tr>
        
        <tr>
            <th>Motor Oil Capacity</th>
            <td>{{ sprayer.oil_capacity }}</td>
        </tr>
        
        <tr>
            <th>Oil Filter</th>
            <td>{% for f in sprayer.oil_filter.all %}
                    {{ f }}<br />
                {% endfor %}
            </td>
        </tr>
        
        {% if sprayer.hyd_oil_type %}
        <tr>
            <th>Hydraulic Oil</th>
            <td>{% for o in sprayer.hyd_oil_type.all %}
                    {{ o }}<br />
                {% endfor %}
            </td>
        </tr>
        
        <tr>
            <th>Hydraulic Oil Capacity</th>
            <td>{{ sprayer.hyd_oil_capacity }}</td>
        </tr>
        {% endif %}
        
        <tr>
            <th>Fuel Filter</th>
            <td>{% for f in sprayer.fuel_filter.all %}
                    {{ f }}<br />
                {% endfor %}
            </td>
        </tr>
        
    </table>
    
    <br />
    
    <a href="{% url 'shop:sprayer_edit' pk=sprayer.pk %}">
        <button>Edit</button>
    </a>
    
</section>

<section class="content-block">

    <h3>Oil Changes</h3>
    
    <table>
        <thead>
            <th>Date</th>
            <th>Hours</th>
            <th>Oil</th>
            <th>Qty.</th>
            <th>Cost</th>
        </thead>
        
        {% for o in oil_changes %}
        <tr>
            <td>{{ o.date_fixed }}</td>
            <td>{{ o.hours_on_machine }}</td>
            <td>{{ o.oil }}</td>
            <td>{{ o.oil_qty }}</td>
            <td>{{ o.oil_cost }}</td>
        </tr>
        {% endfor %}
    </table>
    
</section>

<section class="content-block">

    <h3>Repairs</h3>
    
    <table>
        <thead>
            <th>Date Out</th>
            <th>Date Fixed</th>
            <th>Hours</th>
            <th>Description</th>
            <th>Cost</th>
        </thead>
        
    </table>
</section>

<section class="content-block">

		<h3>Hour Benchmarks</h3>

		<table>
				<thead>
						<th>Date</th>
						<th>Hours</th>
						<th>Notes</th>
				</thead>

				{% for h in hour_reads %}
				<tr>
						<td>{{ h.date }}</td>
						<td>{{ h.hours }}</td>
						<td>{{ h.notes }}</td>
				</tr>
				{% endfor %}
		</table>

</section>
{% include "foot.html" %}
