<!-- vim: set ft=htmldjango: -->

{% include "machines/shophead.html" %}

<h2>Edit fert spreader:</h2>

<section class="content-block content-block-full">

    <h3>Edit {{ spreader }}</h3>
    
    <form id="spreaderForm"
          method="POST"
          action="{% url 'shop:spreader_update' pk=spreader.pk %}">
        
        {% csrf_token %}
        
        <table>
            {{ form.as_table }}
        </table>
        
        <input type="submit" value="Save" />
        
    </form>

</section>

{% include "foot.html" %}
