<!-- vim: set ft=htmldjango: -->

{% include "machines/shophead.html" %}

<h2>Edit tractor:</h2>

<section class="content-block content-block-full">

    <h3>Edit {{ tractor }}</h3>
    
    <form id="tractorForm"
          method="POST"
          action="{% url 'shop:tractor_update' pk=tractor.pk %}">
        
        {% csrf_token %}
        
        <table>
            {{ form.as_table }}
        </table>
        
        <input type="submit" value="Save" />
        
    </form>

</section>

{% include "foot.html" %}
