<!-- vim: set syntax=htmldjango: -->

{% include "head.html" %}

<h2>{{ course.name }} overview</h2>

<section class="content-block">

	<h3>Holes</h3>

	<table>

		<thead>
			<th>#</th>
			<th>Par</th>
			<th>Yardage</th>
			<th>(Nickname)</th>
		</thead>


		{% for h in course.hole.all %}
			<tr>
				<td>
					<a href="{% url 'courses:hole_detail' h.pk %}">
						{{ h.number }}
					</a>
				</td>
				<td>{{ h.par }}</td>
				<td>{{ h.yardage }}</td>
				<td>{{ h.name }}</td>
			</tr>
		{% endfor %}
	</table>

</section>


<section class="content-block">

	<h3>Greens</h3>

	<table>
		<thead>
			<th>#</th>
			<th>Soil</th>
			<th>Species</th>
			<th>Cultivar</th>
		</thead>

		{% for h in course.hole.all %}
			{% for g in h.green.all %}
			<tr>
				<td>{{ h.number }}</td>
				<td>{{ g.soil_type }}</td>
				<td>{{ g.turf_species }}</td>
				<td>{{ g.turf_cultivar.name }}</td>
			</tr>
			{% endfor %}
		{% endfor %}
	</table>
</section>


<section class="content-block">
	<h3>Tees</h3>

	<div class="scroll-container">

		<table>
			<thead>
				<th>#</th>
				<th>Soil</th>
				<th>Species</th>
				<th>Cultivar</th>
			</thead>

			{% for h in course.hole.all %}
				{% for t in h.tee.all %}
				<tr>
					<td>{{ h.number }}</td>
					<td>{{ t.soil_type }}</td>
					<td>{{ t.turf_species }}</td>
					<td>{{ t.turf_cultivar.name }}</td>
				</tr>
				{% endfor %}
			{% endfor %}
		</table>
	</div>
	
</section>

{% include "foot.html" %}
