<!-- vim: set ft=htmldjango: -->

{% include "head.html" %}

<h2>{{ mowing }}:</h2>

<section class="content-block">

    <h3>Basic Info</h3>
    
    <table>
        <tr>
            <th>Date</th>
            <td>{{ mowing.mow_date }}</td>
        </tr>
        
        <tr>
            <th>Mower(s)</th>
            <td>{% for m in mowing.mower.all %}
                    {{ m }}<br />
                {% endfor %}
            </td>
        </tr>
        
        <tr>
            <th>Green(s)</th>
            <td>{% for g in mowing.green.all %}
                    {{ g }}<br />
                {% endfor %}
            </td>
        </tr>
        
    </table>
    
    <br />
    
    <a href="{% url 'mow:greens_edit' pk=mowing.pk %}">
        <button>Edit</button>
    </a>

</section>

{% include "foot.html" %}
