<!-- vim: set ft=htmldjango: -->

{% include "head.html" %}

<h2>Irrigation digs:</h2>

<section class="content-block content-block-full">

    <h3>Irrigation Dig Details</h3>
    
    <table>
        <tr>
            <th>Date</th>
            <td>{{ dig.date }}</td>
        </tr>
        
        <tr>
            <th>Hole</th>
            <td>{{ dig.hole }}</td>
        </tr>
        
        <tr>
            <th>Items</th>
            <td>
                {% if dig.sprinkler %}
                    {{ dig.sprinkler }}
                {% endif %}
                
                {% if dig.quick_coupler %}
                    {{ dig.quick_coupler }}
                {% endif %}
                
                {% if dig.drain %}
                    {{ dig.drain }}
                {% endif %}
            </td>
        </tr>
        
        <tr>
            <th>Description</th>
            <td>{{ dig.description }}</td>
        </tr>
        
        <tr>
            <th>Fixed</th>
            <td>
                {% if dig.fixed %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </td>
        </tr>
        
        <tr>
            <th>Added to Database</th>
            <td>{{ dig.created_at }}</td>
        </tr>
        
        <tr>
            <th>Last Updated</th>
            <td>{{ dig.updated_at }}</td>
        </tr>
    
    </table>
    
    <br />
    
    <a href="{% url 'irr:dig_edit' pk=dig.pk %}">
        <button>Edit</button>
    </a>

</section>

{% include "foot.html" %}
