<!-- vim: set ft=htmldjango: -->

{% include "head.html" %}

<h2>Isolation valves:</h2>

<section class="content-block content-block-full">

    <h3>Edit Isolation Valve</h3>
    
    <form id="isoForm"
          method="POST"
          action="{% url 'irr:iso_update' pk=iso.pk %}">
          
        {% csrf_token %}
        
        <table>
            {{ form.as_table }}
        </table>
        
        <input type="submit" value="Save" />
    
    </form>

</section>

{% include "foot.html" %}
