<!-- vim: set ft=htmldjango: -->

<!DOCTYPE html>
<html>

{% load static %}

<head>
    <meta charset="utf-8" />

    <meta name="viewport"
          content="width=device-width,initial-scale=1.0" />

    <meta name="http-equiv"
          content="text/html" />

    <title>GreensManager | Home</title>

    <link rel="stylesheet"
          type="text/css"
          href="{% static 'styles/main.css' %}" />

    <link rel="stylesheet"
          type="text/css"
          href="{% static 'styles/tablet.css' %}" />

    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans|Overlock"
          rel="stylesheet" />

    <link rel="icon"
          type="image/png"
          href="{% static 'favicon.png' %}" />

    <script type="text/javascript"
            src="{% static 'js/jquery-3.3.1.min.js' %}">
    </script>
</head>

<body>

<header>
	<h1>
		<span id="hamburger">&equiv;</span>
    <a href="{% url 'welcome:index' %}">
			GreensManager 
    </a>
	</h1>

    <nav>
        <ul>
            <div class="parent-menu">
                <li><a href="{% url 'courses:index' %}">Courses</a>
                    <ul class="child-menu">
                        <li>Overview</li>
                        <li>Building</li>
                    </ul>
                </li>
            </div>


            <div class="parent-menu">
                <li><a href="{% url 'welcome:daily' %}">Daily tasks</a>
                    <ul class="child-menu">
                        <li>
                            <a href="{% url 'mow:index' %}">
                                Mowing overview
                            </a>
                        </li>
                        <li>
													<a href="{% url 'mow:greens_index' %}">
														Greens
													</a>
												</li>
                        <li>
													<a href="{% url 'mow:tees_index' %}">
														Tees
													</a>
												</li>
                        <li>
													<a href="{% url 'mow:fairways_index' %}">
														Fairways
													</a>
												</li>
                        <li>
													<a href="{% url 'mow:roughs_index' %}">
														Roughs
													</a>
												</li>
                        <li>Bunkers</li>
                    </ul>
                </li>
            </div>

            <div class="parent-menu">
                <li>Fert
                    <ul class="child-menu">
                        <li>
                            <a href="{% url 'fert:fert_index' %}"> 
                                Fertilizers
                            </a>
                        </li>
                        
                        <li>
                            <a href="{% url 'fert:greens_index' %}">
                                Greens
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'fert:tees_index' %}">
                                Tees
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'fert:fairways_index' %}">
                                Fairways
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'fert:roughs_index' %}">
                                Roughs
                            </a>
                        </li>
                        
                        <li>
                            <a href="{% url 'shop:spreader_index' %}">
                                Spreaders
                            </a>
                        </li>
                    </ul>
                </li>
            </div>

            <div class="parent-menu">
                <li>Irrigation
                    <ul class="child-menu">
                        <li>
                            <a href="{% url 'irr:satbox_index' %}">
                                Sat. Boxes
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'irr:iso_index' %}">
                                Isolation valves
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'irr:sprinkler_index' %}">
                                Sprinklers
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'irr:drain_index' %}">
                                Drains
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'irr:qc_index' %}">
                                Quick Couplers
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'irr:dig_index' %}">
                                Digs
                            </a>
                        </li>
                    </ul>
                </li>
            </div>

            <div class="parent-menu">
                <li>Mechanical
                    <ul class="child-menu">
                        <li>
                            <a href="{% url 'shop:index' %}">
                                Machine catalog
                            </a>
                        </li>
                        <li>
													<a href="{% url 'maint:repair_index' %}">
														Repairs
													</a>
												</li>
                        <li>
                            <a href="{% url 'parts:index' %}">
                                Parts database
                            </a>
                        </li>
                    </ul>
                </li>
            </div>

            <div class="parent-menu">
                <li>Spraying
                    <ul class="child-menu">
                        <li>Chemicals & Diseases</li>
                        <li>Greens</li>
                        <li>Tees</li>
                        <li>Fairways</li>
                    </ul>
                </li>
            </div>

						<div class="parent-menu">
							<li><a href="{% url 'aerate:index' %}">Aerating</a>
								<ul class="child-menu">
									<li><a href="{% url 'aerate:greens_index' %}">
											Greens Aerating</a></li>
									<li><a href="{% url 'aerate:qt_index' %}">
											Quadra-Tining</a></li>
									<li><a href="{% url 'aerate:dt_index' %}">
											Deep-Tine Aerating</a></li>
									<li><a href="{% url 'aerate:tees_index' %}">
											Tee Aerating</a></li>
									<li><a href="{% url 'aerate:fairways_index' %}">
											Fairway Aerating</a></li>
								</ul>
							</li>
						</div>
        </ul>
    </nav>

    <p class="right-aligned" id="session-info">
			Welcome {{ user.first_name }} {{ user.last_name }}!<br />
        It is {{ curr_time }}
    </p>

</header>

<script type="text/javascript">
	$('#hamburger').on('click', function(){
		$('nav ul').toggle();
		$('nav ul ul').toggle();

		if ($('nav').css('width') != '100%') {
			$('nav').css('width', '100%');
		} else {
			$('nav').css('width', '0');
		}
	});
</script>
