<!-- vim: set ft=htmldjango: -->

{% include "machines/shophead.html" %}

<h2>Add new oil change:</h2>

<section class="content-block content-block-full">

    <h3>New Oil Change</h3>
    
    <form id="oilchangeForm"
          method="POST"
          action="{% url 'maint:oilchange_create' %}">
        
        {% csrf_token %}
        
        <table>
            {{ form.as_table }}
        </table>
        
        <input type="submit" name="done" value="Save" />
				<input type="submit" name="add_part" value="Add Part" />
        
    </form>
    
</section>

{% include "foot.html" %}
