<!-- vim: set ft=htmldjango: -->

{% include "machines/shophead.html" %}

<h2>Service record details:</h2>

<section class="content-block content-block-full">

    <h3>Oil Change</h3>
    
    <table>
        <tr>
            <th>Date</th>
            <td>{{ oilchange.date_fixed }}</td>
        </tr>
        
        <tr>
            <th>Machine</th>
            <td>{{ oilchange.machine }}</td>
        </tr>
        
        <tr>
            <th>Hours</th>
            <td>{{ oilchange.hours_on_machine }}</td>
        </tr>
        
        <tr>
            <th>Description</th>
            <td>{{ oilchange.description }}</td>
        </tr>
        
        <tr>
            <th>Oil Used</th>
            <td>{{ oilchange.oil }}</td>
        </tr>
        
        <tr>
            <th>Oil Quantity</th>
            <td>{{ oilchange.oil_qty }}</td>
        </tr>
        
        <tr>
            <th>Cost of Oil</th>
            <td>{{ oilchange.oil_cost }}</td>
        </tr>
        
        <tr>
            <th>Parts Used</th>
            <td>{% for p in parts %}
                    {{ p.part }} 
                    ({{ p.qty }} &#64; {{ p.part.price }})<br />
                {% endfor %}
            </td>
        </tr>
        
        <tr>
            <th>Total Cost</th>
            <td>{{ oilchange.total_cost }}</td>
        </tr>
        
        <tr>
            <th>Mechanic</th>
            <td>{{ oilchange.acked }}</td>
        </tr>
        
    </table>
    
    <br />
    
    <a href="{% url 'maint:oilchange_edit' pk=oilchange.pk %}">
        <button>Edit</button>
    </a>

</section>

{% include "foot.html" %}
